<%= render 'layouts/navbar' %>

<div class="container topspacer">

  <div>
    <%= link_to 'Firma il Libro degli Ospiti', { action: 'new' },
                class: 'btn btn-success' %>
  </div>

  <div class="topspacer">

    <% if @entries.blank? %>

        <p>
          Al momento non ci sono messaggi nel GuestBook.
        </p>

    <% else %>

        <table class="table table-striped">

          <th width="20%">&nbsp;</th>
          <th width="30%">Autore</th>
          <th width="45%">Messaggio</th>
          <% if is_logged_in? %>
          <th width="5%">&nbsp;</th>
          <% end %>

          <% @entries.each do |msg| %>

              <tr>
                <td>
                  <%= msg.created_at.to_formatted_s(:it_datetime) %>
                </td>
                <td>
                  <% if msg.user.nil? %>
                      Utente Anonimo
                  <% else %>
                      <%= msg.user.username %>
                  <% end %>
                </td>
                <td>
                  <strong><%= link_to msg.title, { action: 'show', id: msg }  %></strong>
                  <br>
                  <textarea cols="60" rows="4" readonly="readonly"><%= msg.message %>
                  </textarea>
                </td>
                <% if not msg.user.nil? %>
                  <% if is_logged_in? and session[:current_user_id] == msg.user.id  %>
                  <td>
                    <div>
                      <%= link_to msg, method: :delete, :data =>
                          {:confirm => 'Sei sicuro di voler cancellare il messaggio?'} do %>
                        <%= fa_icon 'remove' %>
                      <% end %>
                    </div>
                  </td>
                  <% end %>
                <% end %>
              </tr>

          <% end %>

        </table>

    <% end %>
  </div>

</div>


