<%= render 'layouts/navbar' %>

<div class="container">

  <h3>
    <%= @entry.title %>
  </h3>

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">

              <div class="row">
                <div class="col-md-4"><em>Titolo:</em></div>
                <div class="col-md-8"><b><%= @entry.title %></b></div>
              </div>

              <div class="row">
                <div class="col-md-4"><em>Messaggio:</em></div>
                <div class="col-md-8">
                  <textarea cols="40" rows="10" readonly="readonly"><%= @entry.message %>
                  </textarea>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4"><em>Creato da:</em></div>
                <div class="col-md-8">
                <% if @entry.user.nil? %>
                    Anonimo
                <% else %>
                    <%= @entry.user.username %>
                <% end %>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4"><em>Data creazione:</em></div>
                <div class="col-md-8"><%= @entry.created_at %></div>
              </div>

              <div class="row">
                <div class="col-md-4"><em>Data ultima modifica:</em></div>
                <div class="col-md-8"><%= @entry.updated_at %></div>
              </div>

              <div class="row">
                <div class="col-md-12">&nbsp;</div>
              </div>

              <% if not @entry.user.nil? %>
                <% if @entry.user.id == session[:current_user_id] %>
                    <button class="button">Modifica</button>
                <% end %>
              <% end %>

          </div>
        </div>
      <%= link_to 'Torna alla lista messaggi...', action: 'index' %>
      </div>


    </div>

    <% if @entry.errors.any? %>

        <div class="row">
          <div class="col-md-8">
            <div class="alert alert-danger" role="alert">
              <ul>
                <% @entry.errors.full_messages.each do |error_msg| %>
                    <li><%= error_msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

    <% end %>

  </div>
</div>
